*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.lot
*.lof
*blx.bib
*.DS_Store

#Presenta
node_modules/
Presentacion/Img

package-lock.json
Presentacion/VideoTF.mp4
Presentacion/VideoTFCEIA.mp4
Presentacion/VideoTFCEIAv3.mp4
